.p-steps span {
  color: white;

  margin-top: 10px;
}

.p-steps .p-steps-item .p-menuitem-link {
  background: transparent;
}

.p-steps .p-steps-item .p-menuitem-title span {
}


.p-steps .p-steps-item .p-menuitem-link .p-steps-title {
  /* color: white ;*/
}
