<section class="row mt-2">
  <div class="container ">
    <div class="float-right">
      <button class="btn btn-primary m-2 m-xl-2 " data-toggle="modal" data-target="#modalBook">New Book</button>
    </div>
  <div class="table-responsive ">

    <table class="table table-hover ">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Jacket</th>
        <th scope="col">Titulo</th>
        <th scope="col">Autor</th>
        <th scope="col">Idioma</th>
        <th scope="col">Precio</th>
        <th scope="col">Oferta</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of myBooks; index as i">
        <th  scope="row">{{i+1}}</th>
        <td class="  ">
          <div class="">
            <div class=" ">
              <img class=" img-fluid " src="{{book.portada}}">
            </div>
          </div>
        </td>
        <td>{{book.titulo}}</td>
        <td>{{book.autor}}</td>
        <td>{{book.idioma}}</td>
        <td>{{book.precio}}</td>
        <td>{{book.oferta == 1 ? 'Sí': 'No'}}</td>
        <td *ngIf="book.userUid == userUid || isAdmin == true; else noOwner">
          <button class="btn btn-primary" data-toggle="modal" data-target="#modalBook" (click)="onPreUpdateBook(book)">Update</button>
        </td>
        <ng-template #noOwner>
          <td>
            <button class="btn btn-secondary" disabled="true">Update</button>
          </td>
        </ng-template>
        <td *ngIf="isAdmin == true; else noAdmin">
          <button class="btn btn-danger" (click)="onDeleteBook(book.id)">Delete</button>
        </td>
        <ng-template #noAdmin>
          <td>
            <button class="btn btn-danger" disabled="true">Delete</button>
          </td>
        </ng-template>
      </tr>
      </tbody>
    </table>
  </div>
  </div>
  <app-modal [userUid]="userUid"></app-modal>
</section>
