<div class="stepsdemo-content">
  <app-breadcrumb></app-breadcrumb>

  <p-card>
    <ng-template pTemplate="title">
      Acitvité de la semaine
    </ng-template>
      <p>Vous avez travaillé {{dayactivities.length }} jours</p>
    <p> Vous etes au regime {{weekhoursplanned}} heures par semaines</p>
    <p>Vous avez travaillé {{weekhours}} heures</p>
    <p>dont {{weekovertime}} d'heures supplementaires</p>
    <ng-template pTemplate="footer">
        <button class="ml-2 fixed-bottom" pButton type="button" label="< Last Step" (click)="lastStepPlease()"></button>
        <button class="ml-2 bg-success" pButton type="button" label="Terminée >" (click)="nextStepPlease()"></button>

    </ng-template>
  </p-card>
</div>
