<div class="m-2 col-lg-md-8" id="htmlData">
  <app-breadcrumb></app-breadcrumb>

  <p-card header=" Activité de la semaine">
    <ng-template pTemplate="title">

    </ng-template>
    <p>Vous avez travaillé {{dayactivities.length }} jours</p>
    <p> Vous etes au regime {{weekhoursplanned}} heures par semaines</p>
    <p>Vous avez travaillé {{weekhours}} heures</p>
    <p>dont {{weekovertime}} d'heures supplementaires</p>
    <div class="p-fluid  p-grid mt-4">
  <button class="p-field p-col ml-2 fixed-bottom"
              pButton type="button"
              label="< Précedent" (click)="lastStepPlease()">
      </button>
      <button class="p-field p-col ml-2 bg-success"
              pButton type="button"
              label="Terminée >" (click)="nextStepPlease()">
      </button>
</div>
  </p-card>
</div>
