<div class="stepsdemo-content">

  <app-breadcrumb></app-breadcrumb>


  <p-card>
    <p-table [value]="dayovertimes" dataKey="id" editMode="row">
      <ng-template pTemplate="header">
        <tr>
          <th>Jour</th>
          <th>Heures supp</th>
          <th>Motifs</th>
          <th>Validées</th>
          <th style="width:8rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-day let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="day">
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]=day.day required>
              </ng-template>
              <ng-template pTemplate="output">
                {{day.day}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]=day.overtime required>
              </ng-template>
              <ng-template pTemplate="output">
                {{day.overtime}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]=day.reason required>
              </ng-template>
              <ng-template pTemplate="output">
                {{day.reason}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="day.overtimestatus" required>
              </ng-template>
              <ng-template pTemplate="output">
                {{day.overtimestatus}}
              </ng-template>
            </p-cellEditor>
          </td>


          <td style="text-align:center">
            <button *ngIf="editing" pButton pRipple type="button"
                    pSaveEditableRow icon="pi pi-check"
                    (click)="onRowEditSave(dayactivity)"
                    class="p-button-rounded p-button-text p-button-success p-mr-2"
            ></button>
            <button *ngIf="editing" pButton pRipple type="button"
                    pCancelEditableRow icon="pi pi-times"
                    (click)="onRowEditCancel(dayactivity, ri)"
                    class="p-button-rounded p-button-text p-button-danger"
            ></button>
            <button *ngIf="!editing" pButton pRipple type="button"
                    data-toggle="modal"
                    data-target="#exampleModal"
                    pInitEditableRow icon="pi pi-pencil"
                    (click)="onRowEditInit(dayactivity, ri)"
                    class="p-button-rounded p-button-text"
            ></button>


          </td>
        </tr>
      </ng-template>
    </p-table>

    <ng-template pTemplate="footer">
      <button class="ml-2 fixed-bottom" pButton type="button" label="< Last Step" (click)="lastStepPlease()"></button>

      <button class="ml-2" pButton type="button" label="Next Step >" (click)="nextStepPlease()"></button>
    </ng-template>

  </p-card>


</div>
