<div class="stepsdemo-content">

  <app-breadcrumb></app-breadcrumb>

  <button type="button"
          class="btn btn-primary p-m-2"
          data-toggle="modal"
          form="formModal"
          data-target="#exampleModal"
          >Nouvelle Journée +
  </button>

  <p-card>
      <p-table [value]="dayactivities" dataKey="id" editMode="row">
        <ng-template pTemplate="header">
          <tr>
            <th>Jour</th>
            <th>Immatriculation</th>
            <th>Kilometrage</th>
            <th>Debut</th>
            <th>Fin</th>
            <th>Pause</th>
            <th style="width:8rem"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dayactivitiy let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="dayactivitiy">
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="dayactivitiy.day">
                </ng-template>
                <ng-template pTemplate="output">
                  {{dayactivitiy.day}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="dayactivitiy.numberplate" required>
                </ng-template>
                <ng-template pTemplate="output">
                  {{dayactivitiy.numberplate}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="dayactivitiy.mileage" required>
                </ng-template>
                <ng-template pTemplate="output">
                  {{dayactivitiy.mileage}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="dayactivitiy.daystart" required>
                </ng-template>
                <ng-template pTemplate="output">
                  {{dayactivitiy.daystart}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="dayactivitiy.dayend" required>
                </ng-template>
                <ng-template pTemplate="output">
                  {{dayactivitiy.dayend}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="dayactivitiy.pause" required>
                </ng-template>
                <ng-template pTemplate="output">
                  {{dayactivitiy.pause}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td style="text-align:center">
              <button *ngIf="editing" pButton pRipple type="button"
                      pSaveEditableRow icon="pi pi-check"
                      (click)="onRowEditSave(dayactivitiy)"
                      class="p-button-rounded p-button-text p-button-success p-mr-2"
              ></button>
              <button *ngIf="editing" pButton pRipple type="button"
                      pCancelEditableRow icon="pi pi-times"
                      (click)="onRowEditCancel(dayactivitiy, ri)"
                      class="p-button-rounded p-button-text p-button-danger"
              ></button>
              <button *ngIf="!editing" pButton pRipple type="button"
                      data-toggle="modal"
                      data-target="#exampleModal"
                      pInitEditableRow icon="pi pi-pencil"
                      (click)="onRowEditInit(dayactivitiy, ri)"
                      class="p-button-rounded p-button-text"
              ></button>

              <div *ngIf="editing" class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                   aria-labelledby="exampleModalLabel"
                   aria-hidden="true"><form id="formModal">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Activitée du jour</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form class="formModal">
                        <div class="form-group">
                          <label class="col-form-label">jour:</label>
                          <input class="form-control" type="text" name="code"
                                 [(ngModel)]="this.dataApi.selecteddayactivitiy.jour ">
                        </div>
                        <div class="form-group">
                          <label class="col-form-label">immatriculation:</label>
                          <input class="form-control" name="name" type="text"
                                 [(ngModel)]="this.dataApi.selecteddayactivitiy.immatriculation"
                                 required>
                        </div>
                        <div class="form-group">
                          <label class="col-form-label">kilometrage:</label>
                          <input class="form-control" name="name" type="text"
                                 [(ngModel)]="this.dataApi.selecteddayactivitiy.kilometrage"
                                 required>
                        </div>
                        <div class="form-group">
                          <label class="col-form-label">debut:</label>
                          <input class="form-control" name="name" type="text"
                                 [(ngModel)]="this.dataApi.selecteddayactivitiy.debut"
                                 required>
                        </div>
                        <div class="form-group">
                          <label class="col-form-label">fin:</label>
                          <input class="form-control" name="name" type="text"
                                 [(ngModel)]="this.dataApi.selecteddayactivitiy.fin"
                                 required>
                        </div>
                        <div class="form-group">
                          <label class="col-form-label">pause:</label>
                          <input class="form-control" name="name" type="text"
                                 [(ngModel)]="this.dataApi.selecteddayactivitiy.pause"
                                 required>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">

                      <button type="button" class="p-button-success p-mr-2" pButton pRipple pSaveEditableRow
                              (click)="onRowEditSave(this.dataApi.selecteddayactivitiy)" data-dismiss="modal">Save
                      </button>
                      <button type="button" class="p-button-danger" pButton pRipple pCancelEditableRow data-dismiss="modal"
                              (click)="onRowEditCancel(this.dataApi.selecteddayactivitiy,this.dataApi.selectedRow)">Cancel
                      </button>
                    </div>
                  </div>
                </div></form>
              </div>

            </td>
          </tr>
        </ng-template>
      </p-table>

      <ng-template pTemplate="footer">
        <button class="ml-2 fixed-bottom" pButton type="button" label="< Last Step" (click)="lastStepPlease()"></button>

        <button class="ml-2" pButton type="button" label="Next Step >" (click)="nextStepPlease()"></button>
        </ng-template>

  </p-card>



</div>
