<div class="m-2 col-lg-md-8" id="htmlData">
  <app-breadcrumb class="sticky-top steps-top" style="top:30px"></app-breadcrumb>


  <!--     <div class="col-lg-md-4 text-right p-2">
         <p-steps [model]="steps" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
       </div>

       <div class="col-lg-md-4 text-right p-2">
         <button (click)="openPDF()" class="btn btn-success btn-block">Download PDF</button>
       </div>
 -->
  <p-card class="" header="Identité">

    <form class="" #myForm="ngForm" (ngSubmit)="nextStepPlease(myForm)">
      <div class="row my-2">
        <div class="p-inputgroup ">
          <input type="hidden"
                 name="userUid"
                 [(ngModel)]="userUid"
                 required>
        </div>
        <div class="col col-lg-8 mb-2 ">
          <div class="p-inputgroup ">
            <span class="col-4 col-lg-4 p-inputgroup-addon ">Année</span>
            <input class="col-8 col-lg-8 table-bordered"
                   name="year"
                   [(ngModel)]="this.timesheet.year"
                   placeholder=""
                   type="number"
                   required>
          </div>
        </div>
        <div class=" col-lg-4 ">
          <div class="p-inputgroup">
            <span class="col-4 col-lg-6 p-inputgroup-addon">Semaine</span>
            <input class="col-8 col-lg-6 table-bordered"
                   name="week"
                   [(ngModel)]="this.timesheet.week"
                   placeholder=""
                   type="number"
                   required>
          </div>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-lg-8 mb-2">
          <div class="p-inputgroup">
            <span class="col-4 col-lg-4 p-inputgroup-addon">Matricule</span>
            <input class="col-6 col-lg-5 mr-1 table-bordered" name="matricule"
                   [(ngModel)]="this.timesheet.matricule"
                   placeholder=""
                   type="text"
                   required>
            <input class="col-2 col-lg-3 table-bordered" placeholder="" type="text">
          </div>
        </div>
        <div class="col-lg-4 ">
          <div class="p-inputgroup">
            <span class="col-4 col-lg-6 p-inputgroup-addon">Début</span>
            <input class="col-8 col-lg-6 table-bordered" name="weekstart" value="06:00"
                   [(ngModel)]="this.timesheet.weekstart"
                   placeholder=""
                   type="text"
                   required>
          </div>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-lg-8 mb-2">
          <div class="p-inputgroup">
            <span class="col-4 col-lg-4 p-inputgroup-addon">Nom Prénom</span>
            <input class="col-4 col-lg-5 mr-1 table-bordered" name="firstname"
                   [(ngModel)]="this.timesheet.firstname"
                   placeholder=""
                   type="text"
                   required>
            <input class="col-4 col-lg-3  table-bordered" name="lastname"
                   [(ngModel)]="this.timesheet.lastname"
                   placeholder=""
                   type="text"
                   required>
          </div>
        </div>
        <div class="col-lg-4 ">
          <div class="p-inputgroup">
            <span class="col-4 col-lg-6 p-inputgroup-addon">Fin</span>
            <input class="col-8 col-lg-6 table-bordered" name="weekend" value="17:00"
                   [(ngModel)]="this.timesheet.weekend"
                   placeholder=""
                   type="text"
                   required>
          </div>
        </div>
      </div>

      <div class="row my-2">
        <div class="col-lg-8 ">
          <div class=" mb-2 mb-lg-3 ">
            <div class="p-inputgroup">
              <span class="col-4 col-lg-4 p-inputgroup-addon">Site</span>
              <input class="col-8 col-lg-8 table-bordered" name="site"
                     [(ngModel)]="this.timesheet.site"
                     placeholder=""
                     type="text"
                     required>
            </div>
          </div>
          <div class="mb-2">
            <div class="p-inputgroup">
              <span class="col-4 col-lg-4 p-inputgroup-addon">Contrat</span>
              <div class="col-8 col-lg-8 py-2 px-4 form-check-inline table-bordered  ">
                <div class="p-field my-auto pt-2 mx-auto" *ngFor='let contract of contracts'>
                  <input class="p-field-radiobutton " id="contracttype" type="radio" name="contracttype" value="CDI"
                         [value]=contract [(ngModel)]="this.timesheet.contracttype">
                  <label class="p-field-radiobutton pr-1" for="contracttype">{{contract}}</label>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 p-inputgroup">
          <span class="col-4 col-lg-6 p-inputgroup-addon">Régime horaire</span>
          <input class="col-8 col-lg-6 table-bordered" name="weekhoursplanned"
                 [(ngModel)]="this.timesheet.weekhoursplanned" placeholder="" type="number" required>
        </div>
      </div>
<!--
      <div class="p-fluid  p-grid pt-2 mt-4 sticky-top bottom-btn" style="bottom: 10px">
-->
      <div class="p-fluid  p-grid p-md-3  pt-2 mt-4" >

        <button class="p-field p-col fixed-bottom" pButton type="button" label="< Précedent"
                (click)="lastStepPlease()">
        </button>
        <button class="p-field p-col ml-2" pButton type="submit" label="Suivant >"
                [disabled]="myForm.form.invalid">
        </button>
      </div>
    </form>

  </p-card>


</div>


