<section class="row ">
  <div class="col-lg-md-4 text-right p-2">

    <button class="btn btn-primary my-2 my-xl-2 " pButton type="button"
            label="Feuille de temps"
            (click)="nextStepPlease()"><i class="pi pi-plus pr-2"> </i>
    </button>
  </div>

  <div class="table-responsive ">

    <table class="table table-hover ">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Prenom</th>
        <th scope="col">Nom</th>
        <th scope="col">Site</th>
        <th scope="col">Semaine</th>
        <th scope="col">Heures travaillées</th>
        <th scope="col">Regime horaire</th>
        <th></th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let timesheet of allTimesheets; index as i">
        <th scope="row">{{i + 1}}</th>
        <td>{{timesheet.firstname}}</td>
        <td>{{timesheet.lastname}}</td>
        <td>{{timesheet.site}}</td>
        <td>{{timesheet.week}}</td>
        <td>{{timesheet.weekhoursdone}}</td>
        <td>{{timesheet.weekhoursplanned}}</td>
        <td>
          <button
            *ngIf="timesheet.userUid == userUid || isAdmin == true; else noOwner"
            class="btn btn-primary p-mr-2" pButton icon="pi pi-pencil"
            data-toggle="modal"
            data-target="#modalBook"
            (click)="onPreUpdateTimesheet(timesheet)">
          </button>
          <ng-template #noOwner>
            <button class="btn btn-secondary p-mr-2" pButton
                    icon="pi pi-pencil" disabled="true">
            </button>
          </ng-template>

          <button
            *ngIf="isAdmin == true; else noAdmin"
            class="btn btn-danger p-button-danger p-mr-2" pButton
            icon="pi pi-times" (click)="onDeleteTimesheet(timesheet.id)">
          </button>
          <ng-template #noAdmin>
            <button class="btn btn-danger p-mr-2" pButton
                    icon="pi pi-times" disabled="true">
            </button>
          </ng-template>

          <button

            class="btn  p-button-success p-mr-2" pButton
            icon="pi pi-envelope" (click)="eventemit(timesheet)">
          </button>
          <ng-template #noAdmin>
            <button class="btn  p-button-success p-mr-2" pButton
                    icon="pi pi-envelope" disabled="true">
            </button>
          </ng-template>

        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
<div *ngIf="true" >

  <app-home ></app-home>

</div>

