.form-control.login-user {
  border: 0px solid #fff !important;
}
.btn-social{
  position: relative;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  border-color: rgba(0,0,0,0.2);
}

.btn-facebook{
  background: #3b5998;
}
.btn-google{
  background: #dd4b39;
}


input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 100%;
}
