<section id="profile" class="container">
  <div class="row m-3">
    <div class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center card">
      <div class="row">
        <div
          class="col-lg-12 col-sm-12 col-12 profile-header justify-content-center d-flex flex-wrap align-items-center">
          <img *ngIf="user.photoUrl" src="{{user.photoUrl}}" class="rounded-circle img-thumbnail" alt="profile">
          <img *ngIf="!user.photoUrl" src="{{defaultPhotoUrl}}" class="rounded-circle img-thumbnail" alt="profile">
        </div>
      </div>
      <div class="row user-details">
        <div class="col-12">
          <h5 >{{user.lastname}} {{user.firstname}}</h5>

          <p>
            {{user.email}}
          </p>
          <p>
            {{user.phonenumber}}
          </p>


          <hr>
          <div class="pb-4">
            <h5 *ngIf="authService.isAdmin|async">
              Administrateur
            </h5>
            <h5  *ngIf="!authService.isAdmin|async">
              Collaborateur
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
